<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css" />
  <title>Tambah Catatan</title>
</head>
<body>
  <h1>Tambah Catatan</h1>
  <form action="/simpan" method="POST">
    <input type="text" name="catatan" placeholder="Catatan baru" required>
    <button type="submit">Simpan</button>
  </form>
</body>
</html>
